################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unit_testing/CRUDExample/CRUDExample.sln
/Unit_testing/.vs
".vs/" 
