################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unit_testing_code/CRUDExample/CRUDExample.sln
/Unit_testing_code/.vs
".vs/" 
".vs/" 
".vs/" 
